<div class="homePage">
	<header class="topbar">
		<a href="#" class="logo">小熊订餐</a>
		<ul class="menu">
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">附近的商家</a>
			</li>
			<li>
				<a href="#">我的订单</a>
			</li>
		</ul>
	</header>
	<div class="currentLocation">
		<span>当前位置 ></span>
		<span>大连</span>
	</div>
	<div class="mainPanel">
		<div class="restaurantsCategories">
			<span class="title">餐厅分类:</span>
			<ul class="first">
				<li class="active">
					<a href="#">不限</a>
				</li>	
				<li>
					<a href="#">中式</a>
				</li>
				<li>
					<a href="#">西式</a>
				</li>
				<li>
					<a href="#">日式</a>
				</li>
				<li>
					<a href="#">韩式</a>
				</li>
				<li>
					<a href="#">烧烤</a>
				</li>
			</ul>
			<div class="clear"></div>
			<div class="excavator-sort">
				<a href="javascript:;">
					默认排序
				</a>
				<a href="javascript:;">
					销量高
				</a>
				<a href="javascript:;">
					评价好
				</a>
				<a href="javascript:;">
					距离最近
				</a>
				<a href="javascript:;">
					配送金额
				</a>
				<div class="excavator-option">
					<label>
						<input type='checkbox'>
						新开商家
					</label>
					<label>
						<input type='checkbox'>
						免开发票
					</label>
					<label>
						<input type='checkbox'>
						免费配送
					</label>
					<label>
						<input type='checkbox'>
						在线支付
					</label>
				</div>
			</div>
		</div>
		<div class="place-tips">
			想吃好点的，看看附近 <span class="count">30 家</span> 品牌商家吧
		</div>
		<div class="place-rstbox">
			<a ui-sref="user-detail" class="rstblock">
				<div class="rstblock-logo">
					<img class="rstblock-logo-icon" src="img/ben.png">
					<span>25分钟</span>
				</div>
				<div class="rstblock-content">
					<div class="rstblock-title">东北吉野家(大连开发区新玛特)</div>
					<div class="icon-star">★★★★★</div>
					<span>月售335单</span><br/>
					<span>0元起送 / 配送费7元</span>
					<div class="rstblock-activity">
						<i>票</i>
						<i>减</i>
						<i>首</i>
						<i>付</i>
					</div>
				</div>
			</a>
			<a href="" class="rstblock">
				<div class="rstblock-logo">
					<img class="rstblock-logo-icon" src="img/ben.png">
					<span>25分钟</span>
				</div>
				<div class="rstblock-content">
					<div class="rstblock-title">东北吉野家(大连开发区新玛特)</div>
					<div class="icon-star">★★★★★</div>
					<span>月售335单</span><br/>
					<span>0元起送 / 配送费7元</span>
					<div class="rstblock-activity">
						<i>票</i>
						<i>减</i>
						<i>首</i>
						<i>付</i>
					</div>
				</div>
			</a>
			<a href="/" class="rstblock">
				<div class="rstblock-logo">
					<img class="rstblock-logo-icon" src="img/ben.png">
					<span>25分钟</span>
				</div>
				<div class="rstblock-content">
					<div class="rstblock-title">东北吉野家(大连开发区新玛特)</div>
					<div class="icon-star">★★★★★</div>
					<span>月售335单</span><br/>
					<span>0元起送 / 配送费7元</span>
					<div class="rstblock-activity">
						<i>票</i>
						<i>减</i>
						<i>首</i>
						<i>付</i>
					</div>
				</div>
			</a>
			<a href="/" class="rstblock">
				<div class="rstblock-logo">
					<img class="rstblock-logo-icon" src="img/ben.png">
					<span>25分钟</span>
				</div>
				<div class="rstblock-content">
					<div class="rstblock-title">东北吉野家(大连开发区新玛特)</div>
					<div class="icon-star">★★★★★</div>
					<span>月售335单</span><br/>
					<span>0元起送 / 配送费7元</span>
					<div class="rstblock-activity">
						<i>票</i>
						<i>减</i>
						<i>首</i>
						<i>付</i>
					</div>
				</div>
			</a>
			<a href="/" class="rstblock">
				<div class="rstblock-logo">
					<img class="rstblock-logo-icon" src="img/ben.png">
					<span>25分钟</span>
				</div>
				<div class="rstblock-content">
					<div class="rstblock-title">东北吉野家(大连开发区新玛特)</div>
					<div class="icon-star">★★★★★</div>
					<span>月售335单</span><br/>
					<span>0元起送 / 配送费7元</span>
					<div class="rstblock-activity">
						<i>票</i>
						<i>减</i>
						<i>首</i>
						<i>付</i>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>