<div class="shopguide">
	<div class='title'>
		<a ui-sref="home">小熊订餐</a>
	</div>
</div>
<div class="detailPanel">
	<ul class="shopnav">
		<li>
			<a href="javascript:;">所有商品</a>
		</li>
		<li>
			<a href="javascript:;">评价</a>
		</li>
		<li>
			<a href="javascript:;">商家详情</a>
		</li>
	</ul>
	<ul class="sortnav">
		<li>
			<a href="javascript:;">默认排序</a>
		</li>
		<li>
			<a href="javascript:;">评分</a>
		</li>
		<li>
			<a href="javascript:;">销量</a>
		</li>
		<li>
			<a href="javascript:;">价格</a>
		</li>
	</ul>
	<ul class="viewStyle">
		<li>
			<a href="/">默认</a>
		</li>
		<li>
			<a href="/">列表</a>
		</li>
	</ul>
	<div class="clear"></div>
	<div class="shopmenu-nav">
		<a href="" class="active">套餐</a>
		<a href="">主餐</a>
		<a href="">小零食</a>
	</div>
	<h1>套餐</h1>
	<div class="shopmenu-food">
		<img src="img/ben.png">
		<h3>
			辣白菜猪肉饭沙拉套餐(小)
		</h3>
		<span>
			★★★★★
		</span>
		<span>
			月销售 3 份
		</span>
		<br/>
		<span>
			$28.5
		</span>
		<a href="" class="addItem">
			加入购物车
		</a>
	</div>
	<div class="shopmenu-food">
		<img src="img/ben.png">
		<h3>
			辣白菜猪肉饭沙拉套餐(小)
		</h3>
		<span>
			★★★★★
		</span>
		<span>
			月销售 3 份
		</span>
		<br/>
		<span>
			$28.5
		</span>
		<a href="" class="addItem">
			加入购物车
		</a>
	</div>
	<div class="shopmenu-food">
		<img src="img/ben.png">
		<h3>
			辣白菜猪肉饭沙拉套餐(小)
		</h3>
		<span>
			★★★★★
		</span>
		<span>
			月销售 3 份
		</span>
		<br/>
		<span>
			$28.5
		</span>
		<a href="" class="addItem">
			加入购物车
		</a>
	</div>
</div>
<div class="shop-cartbasket">
 <div>
 	<span>购物车</span>
 	<a href="">清空</a>
 	<ul class="shopCartList">
 		<li>
 			招牌牛肉饭小菜套餐
 			<button>-</button>
 			<input type='text'>
 			<button>+</button>
 			<span>24.00</span>
 		</li>
 		<li>
 			招牌牛肉饭小菜套餐
 			<button>-</button>
 			<input type='text'>
 			<button>+</button>
 			<span>24.00</span>
 		</li>
 	</ul>
 	<div class="cartfooter">
 		<span>2 份</span> 
 		<span>52.00</span>
 		<a href="">去结算</a>
 	</div>
 </div>
</div>